<div>

	<h2 class="mt-5 title-page">

		<span class="title-span">{{'private.historico.title' | translate}}</span>

		<button title="{{'button.upload' | translate}}" type="button" data-toggle="modal" data-target="#importar-csv-modal" class="btn btn-primary btn-circle btn-sm">
			<i class="fas fa-upload"></i>
		</button>

	</h2>

	<div class="row">

		<div class="col-md-12" *ngIf="paginator">


			<div class="row" style="margin-bottom: 20px;" >
				<div class="col-md-2 xs-4">
					<label class="col-form-label">{{'por-pagina' | translate}}:</label>
					<select class="form-control" [(ngModel)]="paginator.sizePage" (change)="onChangeQuantPage()">
						<option *ngFor="let qtd of quantPaginas" value="{{qtd.codigo}}">{{qtd.valor}}</option>
					</select>
				</div>
			</div>

			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">{{'private.historico.table.dataColeta' | translate}}</th>
							<th scope="col">{{'private.historico.table.valorVenda' | translate}}</th>
							<th scope="col">{{'private.historico.table.valorCompra' | translate}}</th>
							<th scope="col">{{'private.historico.table.produto' | translate}}</th>
							<th scope="col">{{'private.historico.table.distribuidora' | translate}}</th>
							<th scope="col" style="min-width: 115px;" >#</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of paginator.list">
							<td>{{item.dataColeta}}</td>
							<td>{{item.valorVenda}}</td>
							<td>{{item.valorCompra}}</td>
							<td>{{item.produto.nome}}</td>
							<td>{{item.distribuidora.nome}}</td>
							<td>

								<button data-toggle="modal" data-target="#venda-visualizar-modal" (click)="visualizarVenda(item)" title="{{'button.view' | translate}}" type="button" class="btn btn-primary btn-circle btn-xs">
									<i class="fas fa-search"></i>
								</button>

								<button [routerLink]="['/private/historico-precos/edit', item.codigo]" type="button"
									title="{{'button.edit' | translate}}" class="btn btn-success btn-circle btn-xs">
									<i class="fas fa-edit"></i>
								</button>

								<button type="button" title="{{'button.delete' | translate}}"
									(click)="removerVenda(item.codigo)" class="btn btn-danger btn-circle btn-xs">
									<i class="fas fa-trash-alt"></i>
								</button>

							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div style="margin-left: 5px;">
				<strong>{{paginator.count}} {{'private.historico.table.registros' | translate}}</strong>
			</div>

			<div class="row" style="margin-bottom: 20px;" >
				<div class="col-md-2 xs-4">
					<label class="col-form-label">{{'por-pagina' | translate}}:</label>
					<select class="form-control" [(ngModel)]="paginator.sizePage" (change)="onChangeQuantPage()">
						<option *ngFor="let qtd of quantPaginas" value="{{qtd.codigo}}">{{qtd.valor}}</option>
					</select>
				</div>
			</div>

			<nav aria-label="Page navigation example" *ngIf="isPagination()">
				<ul class="pagination"> <!--justify-content-end-->

					<li class="page-item" [ngClass]="isMinlength() ? 'disabled' : ''">
						<a (click)="previous()" class="page-link acao" tabindex="-1">{{'button.previous' | translate}}</a>
					</li>

					<li class="page-item" [ngClass]="isCurrentPage(item) ? 'active' : ''" *ngFor="let item of getPages()">
						<a class="page-link acao" (click)="requestpage(item)">{{item}}</a>
					</li>

					<li class="page-item" [ngClass]="isMaxlength() ? 'disabled' : ''">
						<a (click)="next()" class="page-link acao">{{'button.next' | translate}}</a>
					</li>

				</ul>
			</nav>

		</div>

		<div class="col-md-12" *ngIf="!paginator">
			{{'msg.register.empty' | translate}}
		</div>

	</div>

	<!-- Modal - venda-visualizar-modal -->
    <div class="modal fade" data-backdrop="static" id="venda-visualizar-modal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">{{'private.modal.venda.visualizar' | translate}}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body" style="min-height: 320px;" *ngIf="venda">

			<h5>
				{{'private.venda.title' | translate}}
			</h5>

            <div class="row">

              <div class="col-md-4">
                <label>{{'private.venda.dataColeta' | translate}}:</label>
                <p class="text-left">{{venda.dataColeta}}</p>
              </div>

              <div class="col-md-4">
                <label>{{'private.venda.valorVenda' | translate}}:</label>
                <p class="text-left">{{venda.valorVenda}}</p>
              </div>

              <div class="col-md-4">
                <label >{{'private.venda.valorCompra' | translate}}:</label>
                <p class="text-left">{{venda.valorCompra}}</p>
              </div>

			</div>

			<h5>
				{{'private.produto.nome' | translate}}
			</h5>

			<div class="row">

				<div class="col-md-4">
					<label>{{'private.produto.nome' | translate}}:</label>
					<p class="text-left">{{venda.produto.nome}}</p>
				</div>

				<div class="col-md-4">
					<label>{{'private.produto.unidadeMedida' | translate}}:</label>
					<p class="text-left">{{venda.produto.unidadeMedida}}</p>
				</div>

				<div class="col-md-4">
					<label>{{'private.bandeira' | translate}}:</label>
					<p class="text-left">{{venda.produto.bandeira.nome}}</p>
				</div>

			</div>

			<h5>
				{{'private.distribuidora.nome' | translate}}
			</h5>

			<div class="row">

				<div class="col-md-4">
					<label>{{'private.distribuidora.cnpj' | translate}}:</label>
					<p class="text-left">{{venda.distribuidora.cnpj}}</p>
				</div>

				<div class="col-md-8">
					<label>{{'private.distribuidora.nome' | translate}}:</label>
					<p class="text-left">{{venda.distribuidora.nome}}</p>
				</div>

			</div>

			<h5>
				{{'private.localidade' | translate}}
			</h5>

			<div class="row">

				<div class="col-md-6">
					<label>{{'private.municipio' | translate}}:</label>
					<p class="text-left">{{venda.distribuidora.municipio.nome}}</p>
				</div>

				<div class="col-md-3">
					<label>{{'private.uf' | translate}}:</label>
					<p class="text-left">{{venda.distribuidora.municipio.uf.codigo}}</p>
				</div>

				<div class="col-md-3">
					<label>{{'private.regiao' | translate}}:</label>
					<p class="text-left">{{venda.distribuidora.municipio.uf.regiao}}</p>
				</div>

			</div>

          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" (click)="limparVenda()" class="btn btn-danger" data-dismiss="modal">{{'button.close' | translate}}</button>
          </div>

        </div>
      </div>
	</div>
	<!-- Modal - venda-visualizar-modal - END -->

	<!-- Modal - importar-csv-modal -->
    <div class="modal fade" data-backdrop="static" id="importar-csv-modal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">{{'private.upload-arquivo.title' | translate}}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
		  </div>

			<div class="modal-body" style="min-height: 320px;">

				<input type="file" id="customFile" accept=".csv" (change)="fileProgress($event)">
				<button class="btn btn-primary" [disabled]="!previewUrl" (click)="upload()">SaveFile</button>

			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<button id="importar-csv-btn" type="button" (click)="limparVenda()" class="btn btn-danger" data-dismiss="modal">{{'button.close' | translate}}</button>
			</div>

        </div>
      </div>
	</div>
	<!-- Modal - importar-csv-modal - END -->

</div>